<nav class="sidebar-nav">
  <a href="/" class="snav-link{% if page.url == '/' %} active{% endif %}">
    <i class="fa-solid fa-house"></i> Home
  </a>
  <a href="/about/" class="snav-link{% if page.url == '/about/' %} active{% endif %}">
    <i class="fa-solid fa-user"></i> About
  </a>
  <a href="/projects/" class="snav-link{% if page.url == '/projects/' %} active{% endif %}">
    <i class="fa-solid fa-flask"></i> Projects
  </a>
  <a href="/blog/" class="snav-link{% if page.url contains 'blog' %} active{% endif %}">
    <i class="fa-solid fa-pen-nib"></i> Blog
  </a>
  <a href="/hobbies/" class="snav-link{% if page.url == '/hobbies/' %} active{% endif %}">
    <i class="fa-solid fa-palette"></i> Hobbies
  </a>
  <a href="/travel/" class="snav-link{% if page.url == '/travel/' %} active{% endif %}">
    <i class="fa-solid fa-plane"></i> Travel
  </a>
</nav>
