<ul class="social-icons">
  {%- if site.moving.social_links.github -%}
    <li>
      <a href="https://github.com/{{ site.moving.social_links.github }}" target="_blank">
        <i class="fab fa-github"></i> GitHub
      </a>
    </li>
  {%- endif -%}
  {%- if site.moving.social_links.scholar -%}
    <li>
      <a href="https://scholar.google.com/citations?user={{ site.moving.social_links.scholar }}" target="_blank">
        <i class="fas fa-graduation-cap"></i> Google Scholar
      </a>
    </li>
  {%- endif -%}
  {%- if site.moving.social_links.researchgate -%}
    <li>
      <a href="https://www.researchgate.net/profile/{{ site.moving.social_links.researchgate }}" target="_blank">
        <i class="fab fa-researchgate"></i> ResearchGate
      </a>
    </li>
  {%- endif -%}
  {%- if site.moving.social_links.linkedin -%}
    <li>
      <a href="https://www.linkedin.com/in/{{ site.moving.social_links.linkedin }}" target="_blank">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
    </li>
  {%- endif -%}
  {%- if site.moving.social_links.instagram -%}
    <li>
      <a href="https://www.instagram.com/{{ site.moving.social_links.instagram }}" target="_blank">
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </li>
  {%- endif -%}
  {%- if site.moving.social_links.youtube -%}
    <li>
      <a href="https://www.youtube.com/{{ site.moving.social_links.youtube }}" target="_blank">
        <i class="fab fa-youtube"></i> YouTube
      </a>
    </li>
  {%- endif -%}
</ul>
