---
layout: default
---

<div class="home">
  <head>
    <title>{{ site.title }}</title>
  </head>
  <div class="home-title">
    <p class="home-heading">{{ site.title }}</p>
  </div>

  <!-- Adding the GIF image here -->
  <div class="home-gif">
    <img src="{{ site.baseurl }}https://umeenukrishnan.github.io/assets/gif/blog.gif" alt="Description of the GIF" />
  </div>

  <nav>
    <ul>
      <li><a class="link" href="{{ site.url }}/tags">Tags</a></li>
      <li><a class="link" href="{{ site.url }}/projects">Projects</a></li>
      <li><a class="link" href="{{ site.url }}/about">About</a></li>
      <li><a class="link" href="https://computationalmechanics.in/author/meenu/">Lab</a></li>
      <li><a class="link" href="{{ site.url }}/funzone">Fun Zone</a></li>
    </ul>
  </nav>

  <!-- Including the projects content -->
  <div class="home-projects">
    {% include projects_include.html %}
  </div>

  {%- if site.projects.size > 0 -%}
  <ul class="project-list">
    {% for project in site.projects %}
    <li>
      <a class="black-link project-link-layout" href="{{ project.url | relative_url }}">
        {{ project.title | escape }}
      </a>
      <span class="project-meta">
        {{ project.date | date: "%b %-d, %Y" }}
      </span>
      <p>{{ project.excerpt }}</p>
    </li>
    {% endfor %}
  </ul>
  {%- endif -%}
</div>


