---
layout: default
---

<div class="home">
  <head>
      <title>{{ site.title }}</title>
  </head>
  <div class="home-title">
    <p class="home-heading">{{ site.title }}</p>
  </div>

  <div class="flexbox_item" style="display: flex; align-items: flex-start; gap: 20px;">
    <div>
      <object class="meenu-icon" data="{{ site.url }}/assets/svg/meenu.svg" width="230" style="pointer-events: none;"></object>
      <nav style="margin-top: 20px;">
        <ul style="list-style-type: none; padding: 0;">
          <li style="margin-bottom: 2px;"><a class="link" href="https://github.com/umeenukrishnan" style="background-color: #003B46; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: block;">Github😊</a></li>
          <li style="margin-bottom: 2px;"><a class="link" href="{{ site.url }}/tags" style="background-color: #07575B; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: block;">Blogs📝</a></li>
          <li style="margin-bottom: 2px;"><a class="link" href="{{ site.url }}/pagesprojects" style="background-color: #66A5AD; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: block;">Projects💡</a></li>
          <li style="margin-bottom: 2px;"><a class="link" href="{{ site.url }}/funzone" style="background-color: #C4DFE6; color: #003B46; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: block;">Fun Zone🎉</a></li>
          <li style="margin-bottom: 2px;"><a class="button button-hello" href="https://calendly.com/umeenukrishnan/30min" target="_blank" title="Let's connect!" style="background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: block;">Say Hello!👋</a></li>

        </ul>
      </nav>
    </div>
    <div>
      <div class="hero">
        <div class="flexbox_container_two_col flexbox_container_flip primary_container" style="padding-top: 50px; padding-bottom: 50px;">
          <div class="flexbox_item">
            <div>
              <p style="font-size: 22px; font-family: Montserrat; line-height: 1.2;"><strong>I am Meenu 😊</strong></p>
              <p style="font-size: 20px; font-family: Montserrat;"><strong>A researcher who loves to code.</strong></p>
              <p style="font-size: 18px; padding-top: 20px; padding-bottom: 30px;">
                I joined the <a href="https://computationalmechanics.in/rajib_teams/u-meenu-krishnan-2/">Computational Mechanics Lab</a> in January 2019, and since then, my work has primarily focused on the phase field method for fracture analysis and topology optimization. My work has involved extensive use of open-source software such as FEniCS for finite element analysis, which has greatly facilitated the implementation and testing of our models.
                <br><br>
                To have a practical application of these computationally efficient algorithms, I work through <a href="https://in.linkedin.com/company/avkalanlabs">Avkalan Labs</a>. In addition to this, I share my learnings through <a href="https://eigenplus.com">EigenPlus</a>. 
                <br><br>
                If you want to talk about anything, especially about mathematics, computational mechanics, or high performance computing. To schedule an appointment, please book a time on my calendar.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>