---
layout: default
---
<div>

    <head>
        <title>{{ site.title }}</title>
    </head>
    <!-- ------------------------------------------------------------------- -->
    <div class="hero">
        <div class="flexbox_container_two_col flexbox_container_flip primary_container " style="padding-top: 50px;padding-bottom: 50px;">
            <div class="flexbox_item">
                <div>
                    <p style="font-size:36px; font-family: Montserrat; font-weight: bold; line-height: 1.2; ">Projects</p>
                    <p style="font-size:18px; padding-top: 20px; padding-bottom: 30px;"> Here are some of my projects. </p>
                    <!--  <a class="button button-hello" href="https://www.calendly.com/abhiguptaio" target="_blank" title="Say Hello!">Say Hello!</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="primary_container" style="padding-top:100px; padding-bottom:100px">
    <div class="about-content e-content" itemprop="articleBody">
        {{ content }}
    </div>
    <div class="container" style="width:100%">
        <main class="grid">
            {% for project in site.projects reversed%}
            <article>
                <a href="{{ project.url | relative_url }}">
                    <div class="text">
                        <h2>{{ project.title | escape }}
                        </h2>
                        <p style="text-align: right; opacity: 0.7"><small> - {{ project.year | escape }}
                            </small></p>
                        <div class="card-description">
                            {% for lang in project.langs %}
                            <code>{{ lang | escape }}</code>
                            {% endfor %}
                            <hr>
                            <p>{{ project.description | escape }}
                            </p>
                        </div>
                    </div>
                </a>
            </article>
            {% endfor %}
        </main>
    </div>
</div>