---
layout: default
---
<div>

    <head>
        <title>{{ site.title }}</title>
    </head>
    <!-- ------------------------------------------------------------------- -->
    <div class="hero">
        <div class="flexbox_container_two_col flexbox_container_flip primary_container" style="padding-top: 50px;padding-bottom: 50px;">
            <div style="width: 100%; text-align: center; padding: 20px 0;">
                <img src="{{ site.url }}/assets/gif/project.gif" alt="Project GIF" style="width: 100%; height: auto;" />
            </div>
            <div class="flexbox_item">
                <div>
                    <p style="font-size:36px; font-family: Montserrat; font-weight: bold; line-height: 1.2;">Projects</p>
                    <p style="font-size:18px; padding-top: 20px; padding-bottom: 30px;">Here are some of my projects.</p>
                </div>
            </div>
        </div>
    </div>
    